*/config.*
*/configure
*/autom4te.cache
*/Makefile
*/_temp_*.xml
*/ZendFramework.fo

*/html.xsl
*/manual.xml
*/manual-print1.xml
*/manual-print2.xml
*/pdf-manual.xsl
*/manual.full.xml
*/err.txt
*/phd/

*/output/
*/pdf/
*/*.pdf
*/html/*
!*/html/dbstyle.css
