body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:10pt;
    #line-height:1.5em;
    color:#232D30;
}

/* LINKS */
:link { text-decoration:none; color:#0088B5; }			/* for unvisited links */
a:active { text-decoration:none; color:#0088B5; }		/* when link is clicked */
a:hover { text-decoration:underline; color:#0088B5; }		/* when mouse is over link */
:visited { text-decoration:none; color:#0088B5; }		/* for visited links */
:visited:hover { text-decoration:underline; color:#0088B5; }		/* when mouse is over link */

h1, h2, h3, h4, h5 {
    font-family: Arial, serif;
}

h2 {
    font-size: 11pt;
}

h3, h4, h5 {
    font-size: 1em;
    margin: 0.2em;
}
.code {
    font-family: "Courier New", Courier, monospace;
    font-size: 9pt;

}
.programlisting {
    font-family: "Courier New", Courier, monospace;
    font-size: 9pt;
    font-weight: normal;
    background-color: #E6F7FF;
    border: 1px dashed #0099CC;
}
div.note, div.warning, div.tip {
    margin-left: 0.3in;
    margin-right: 0.5in;
    border: 1px dashed #FF6633;
    background-color: #FFFAEE;
    padding: 0.1in;
}

div.note img, div.warning img, div.tip img {
    margin-right: 0.1in;
    #border: 1px solid #FF6633;
}

pre.programlisting {
    font-family: "Courier New", Courier, monospace;
    font-size: 9pt;
    font-weight: normal;
    background-color: #F0FAFF;
    border: 1px dashed #0099CC;
    padding: 0.1in;
    margin: 0.2in;
    clear: right;
}

pre.screen {
    border: solid 1px #777;
    background-color: #ddd;
    padding: 0.1in;
    margin: 0.2in;
    clear: right;
}

div.variablelist dl dt span.term {
    font-weight: bold;
}

hr { display: none; }

div.navheader {
    padding-bottom: 0.1in;
    border-bottom: solid 1px black;
    border-color: #aaa;
}
div.navfooter {
    margin-top: 0.1in;
    border-top: solid 1px black;
    border-color: #aaa;
    padding-top: 0.1in;
}

div.figure-float {
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;
}

div.revinfo {
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
}

code.code {
    font-family: "Lucida Console", monospace;
}
