language: php

php:
  - 5.3.3
  - 5.3
  - 5.4

before_install:
 - cp tests/TestConfiguration.php.travis tests/TestConfiguration.php

script:
 - php ./tests/run-tests.php

notifications:
  irc: "irc.freenode.org#zftalk.2"