language: php

php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5

matrix:
  allow_failures:
    - php: 5.5

before_install:
 - cp tests/TestConfiguration.php.travis tests/TestConfiguration.php

script:
 - ant travis -keep-going

notifications:
  irc: "irc.freenode.org#zftalk.dev"
  email: false
