<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Zend Framework Test Suite">
            <directory>./Zend</directory>
            <exclude>./Zend/_files/</exclude>
            <exclude>./Zend/AllTests/</exclude>
            <exclude>./Zend/Amf/</exclude>
            <exclude>./Zend/Queue/</exclude>
            <exclude>./Zend/Service/</exclude>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
            <group>Zend_Amf</group>
            <group>Zend_Queue</group>
            <group>Zend_Service</group>
        </exclude>
    </groups>
</phpunit>
