<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Zend Framework Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
            <group>Zend_Search_Lucene</group>
        </exclude>
    </groups>
</phpunit>
