<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Zend Framework Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
            <group>Zend_Search_Lucene</group>
            <group>Zend_Service_Technorati</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">../library/</directory>
        </whitelist>
    </filter>
</phpunit>
