<?xml version="1.0" encoding="UTF-8"?>
<paginator>
    <default>
        <itemcountperpage>10</itemcountperpage>
        <pagerange>10</pagerange>
    </default>
    <testing>
	    <scrolling_style>Scrolling</scrolling_style>
        <scrolling_style_plugins>ZendTest\Paginator\TestAsset\ScrollingStylePluginManager</scrolling_style_plugins>
        <adapter_plugins>ZendTest\Paginator\TestAsset\AdapterPluginManager</adapter_plugins>
	    <itemcountperpage>3</itemcountperpage>
	    <pagerange>7</pagerange>
    </testing>
</paginator>
