<?xml version="1.0"?>
<configdata>
    <testing>
        <definitions>
            <class>ZendTest\Di\TestAsset\Struct</class>
            <params>
                <param1>foo</param1>
                <param2>bar</param2>
            </params>
            <param_map>
                <param1>0</param1>
                <param2>1</param2>
            </param_map>
        </definitions>
        <definitions>
            <class>ZendTest\Di\TestAsset\DummyParams</class>
            <constructor_callback>
                <class>ZendTest\Di\TestAsset\StaticFactory</class>
                <method>factory</method>
            </constructor_callback>
            <params>
                <struct><__reference>struct</__reference></struct>
                <params><foo>bar</foo></params>
            </params>
            <param_map>
                <struct>0</struct>
                <params>1</params>
            </param_map>
        </definitions>
        <definitions>
            <class>ZendTest\Di\TestAsset\InjectedMethod</class>
            <methods>
                <method>
                    <name>setObject</name>
                    <params><params><__reference>params</__reference></params></params>
                </method>
            </methods>
        </definitions>
        <definitions>
            <class>ZendTest\Di\TestAsset\InspectedClass</class>
            <params>
                <baz>BAZ</baz>
                <foo>FOO</foo>
            </params>
        </definitions>
        <aliases>
            <struct>ZendTest\Di\TestAsset\Struct</struct>
            <params>ZendTest\Di\TestAsset\DummyParams</params>
            <injected>ZendTest\Di\TestAsset\InjectedMethod</injected>
            <inspected>ZendTest\Di\TestAsset\InspectedClass</inspected>
        </aliases>
    </testing>
</configdata>
