<?xml version="1.0" encoding="UTF-8"?>
<paginator>
    <default>
        <itemcountperpage>10</itemcountperpage>
        <pagerange>10</pagerange>
    </default>
    <testing>
	    <scrollingstyle>Scrolling</scrollingstyle>
	    <prefixpaths>
	        <prefixpath>
	            <prefix>prefix6</prefix>
	            <path>path6</path>
	        </prefixpath>
	        <prefixpath>
	            <prefix>prefix7</prefix>
	            <path>path7</path>
	        </prefixpath>
	        <prefixpath>
	            <prefix>prefix8</prefix>
	            <path>path8</path>
	        </prefixpath>
	    </prefixpaths>
		<adapterpaths>
	        <adapterpath>
	            <prefix>prefix6</prefix>
	            <path>path6</path>
	        </adapterpath>
	        <adapterpath>
	            <prefix>prefix7</prefix>
	            <path>path7</path>
	        </adapterpath>
	        <adapterpath>
	            <prefix>prefix8</prefix>
	            <path>path8</path>
	        </adapterpath>
	    </adapterpaths>
	    <itemcountperpage>3</itemcountperpage>
	    <pagerange>7</pagerange>
    </testing>
</paginator>